img {
  width: 100%;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0em;
} 

.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 8vh;

  background-color: #2E3976;
  color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  z-index: 10;
}

.header h1{
  display: inline-block;
  font-weight: bold;
  font-size: 2rem;
  top:0;  
  left:16px;
}

.header img{
  object-fit: contain;
  max-height: 6vh;
  max-width: 6vh;
  top:0;
  left:24px;
  margin-left: 3em;
}

.body_main {
  margin: 3em;
  display: flex;
  flex-direction: column;
}

.banner {
  border-radius: 1em;
  align-items: center;
  background-color: #B7BFE8;
  margin-top: 2em;
  margin-bottom: 0.5em;
  text-align: center;
  min-width: 100%;
  max-height: 8vh;
  box-shadow: rgba(0, 0, 0, 0.35) 1px 2px 5px;
}

.banner h2 {
  padding: 0.5em;
  margin: auto;
}

.container {
  
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  border-radius: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 16vh;
  width: 16vh;
  float: left;
  background-color: #EDEFF9;
  margin: 1em 1em 1em 1em;
  
}

.card h2{
  margin: auto;
  font-weight: normal;
}

.card h3{
  margin: auto;
  
}

.avilable{
  color: #298D10;
}

.full{
  color: #ab2500fc;
}
